{% extends 'admin.html.twig' %}

{% block title %}Edit WallPainting{% endblock %}

{% block body %}
    <div class="page">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ 'admin.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'wall_painting.management'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'wall_painting.edit'|trans }}</a></li>
            </ol>
        </nav>

        <h1 class="page-header">{{ 'wall_painting.edit_title'|trans }} </h1>
        <hr>
        {{ include('wall_painting/admin/_form.html.twig', {'button_label': 'Update'}) }}

        <hr>
        <a class="btn btn-secondary" href="{{ path('admin_wall_painting_index') }}">{{ 'wall_painting.back_to_list'|trans }}</a>

    </div>
{% endblock %}