{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}

{% block title %}{{ settings_get('wall_painting_index.page_title_'~app.request.locale) }}{% endblock %}
{% block metaDescription %}{{ settings_get('wall_painting_index.page_meta_description_'~app.request.locale) }}{% endblock %}
{% block metaKeywords %}{{ settings_get('wall_painting_index.page_meta_keywords_'~app.request.locale) }}{% endblock %}


{% block body %}

    <div class="container clearfix">
        <div class="d-flex navbar navbar-expand-sm navbar-dark bg-dark" id="navbarSupportedContent">
            <ul class="d-flex navbar-nav mr-auto ">
                <li class="nav-item dropdown categories">
                    <a class="nav-link dropdown-toggle" href="#sidebar" role="button" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                        分类
                    </a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-dark" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="{{ include('wall_painting/_recommended_tags.html.twig', { category: category, tags: tagsRecommended })|escape }}" data-html="true">标签</button>
                </li>

            </ul>


            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="page">
            <div class="sidebar" id="sidebar">
                {% include 'wall_painting/_render_category.html.twig' with { 'categories' : categories } %}
            </div>
            <div class="main">


                <div class="wall-paintings">
                    <div class="row no-gutters">
                        {% for wallPainting in pagination %}
                            <div class="col-md-3 col-sm-6">
                                <div class="wall-painting">
                                    {% if wallPainting.cover %}
                                    <a href="{{ path('wall_painting_show', {id : wallPainting.id}) }}"><img class="img-fluid" src="{{ vich_uploader_asset(wallPainting.cover, 'file')}}" alt=""></a>
                                    {% endif %}
                                    <div class="title"><a href="{{ path('wall_painting_show', {id : wallPainting.id}) }}">{{ wallPainting.title }}</a></div>
                                    <div class="brief">{{ wallPainting.brief|nl2br }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}