{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-wrapper">
            <div class="wall-painting-show-page">
                <div class="wall-painting-show">
                    <h3 class="title">{{ wallPainting.title }}</h3>
                    <hr>
                    <div class="raw-content">
                        {{ wallPainting.content | raw }}
                    </div>

                    <div class="wall-painting-artists">
                        <div class="row no-gutters">
                            <div class="col-lg-1 col-md-2 col-sm-3 caption-wrapper">
                                <div class="caption">
                                    本案例艺术家
                                </div>
                            </div>
                            {% for wallPaintingArtist in wallPainting.wallPaintingArtists %}
                            <div class="col-lg-1 col-md-2 col-sm-3">
                                <a href="{{ path('artist_show', { id: wallPaintingArtist.artist.id }) }}">
                                <img class="img-fluid" src="{{ vich_uploader_asset(wallPaintingArtist.artist.figure, 'file')}}" alt="{{ wallPaintingArtist.artist.username }}">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <ul class="wall-painting-tags">
                        {% for postTag in wallPainting.postTags %}
                            <li><a href="">{{ postTag.tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheests %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/slick/slick.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}

