{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="wall-painting-page">
            <div class="wall-painting-show">
                <h3>{{ wallPainting.title }}</h3>
                <hr>
                {{ wallPainting.content | striptags('<strong><font><a><p></br>') | raw }}

                <div class="slider-for">
                    {% for photo in wallPainting.photos %}
                        <div class="wall-painting-photo">
                            <img class="img-fluid" src="{{ vich_uploader_asset(photo.media, 'file')}}" alt="">
                            <p>{{ photo.description | striptags }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="slider-nav">
                    {% for photo in wallPainting.photos %}
                        <div>
                            <img height="120" src="{{ vich_uploader_asset(photo.media, 'file')}}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheests %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/slick/slick.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/slick/slick.min.js') }}"></script>
    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,

            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 8,
            slidesToScroll: 1,
            arrows: false,
            asNavFor: '.slider-for',
            dots: false,
            centerMode: true,
            focusOnSelect: true
        });
    </script>

{% endblock %}

