{% extends 'admin.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <div class="page">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ 'admin.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'tag.management'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'tag.edit'|trans }}</a></li>
            </ol>
        </nav>

        <h1 class="page-header">{{ 'tag.edit_title'|trans }} </h1>

        {{ include('tag/admin/_form.html.twig', {'button_label': 'Update'}) }}
        <hr>
        <a class="btn btn-secondary" href="{{ path('admin_tag_index') }}">{{ 'tag.backToList'|trans }}</a>

    </div>


{% endblock %}