{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="customer-show-page">
        <div class="customer-intro">
            <div class="row">
                <div class="col-3">
                    <div class="customer-intro-logo">
                        <img class="img-fluid" src="{{ vich_uploader_asset(customer.logo, 'file') | imagine_filter('customer_logo')}} " alt="">
                        <div class="customer-title">{{ customer.title }}</div>
                        <p>{{ customer.description }}</p>
                    </div>
                </div>
                <div class="col-9">
                    <img class="img-fluid" src="{{ vich_uploader_asset(customer.cover, 'file')}}" alt="">
                </div>
            </div>
        </div>
        <div class="wall-paintings-recommended">
            <div class="bd row no-gutters">
                {% for wallPainting in  customer.wallPaintings %}
                    <div class="col-md-3 col-sm-6">
                        {% if wallPainting.cover  %}
                            <div class="wall-painting">
                                <a href="{{ path('wall_painting_show', {id : wallPainting.id}) }}"><img class="img-fluid" src="{{ vich_uploader_asset(wallPainting.cover, 'file')}}" alt=""></a>
                                <div class="title"><a href="{{ path('wall_painting_show', {id : wallPainting.id}) }}">{{ wallPainting.title }}</a></div>
                                <div class="brief">{{ wallPainting.brief|nl2br }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}