{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


  <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for advertisement in advertisementsPublished %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for advertisement in advertisementsPublished %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                        <a href="{{ advertisement.link }}"><img  src="{{ vich_uploader_asset(advertisement.cover, 'file')|imagine_filter('advertisement_cover')}}" alt=""></a>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
  <main class="container mt-3">


      <div class="wall-paintings-recommended">
          <div class="bd row no-gutters">
              {% for wallPainting in wallPaintingsRecommended %}
                  <div class="col-md-3 col-sm-6">
                      {% if wallPainting.cover  %}
                          <div class="wall-painting">
                              <a href="{{ path('wall_painting_show', {id : wallPainting.id}) }}"><img class="img-fluid" src="{{ vich_uploader_asset(wallPainting.cover, 'file')}}" alt=""></a>
                              <div class="title"><a href="{{ path('wall_painting_show', {id : wallPainting.id}) }}">{{ wallPainting.title }}</a></div>
                              <div class="brief">{{ wallPainting.brief|nl2br }}</div>
                          </div>
                      {% endif %}
                  </div>
              {% endfor %}
          </div>
      </div>

      <div class="pl wall-painting-categories-recommended">
          <div class="bd row no-gutters">
              {% for wallPaintingCategory in wallPaintingCategoriesRecommended %}
                  <div class="col-md-3 col-sm-6">
                      {% if wallPaintingCategory.icon and  wallPaintingCategory.icon.filename %}
                          <div class="wall-painting-category">
                              <a href="{{ path('wall_painting_index', { category : wallPaintingCategory.id }) }}">
                                  <img class="img-fluid" src="{{ vich_uploader_asset(wallPaintingCategory.icon, 'file')|imagine_filter('category_icon')}}" alt="">
                              </a>
                              <h3><a href="{{ path('wall_painting_index', { category : wallPaintingCategory.id }) }}">{{ wallPaintingCategory.name }}</a></h3>
                          </div>
                      {% endif %}
                  </div>
              {% endfor %}
          </div>
      </div>

      <div class="pl customers-recommended">
          <div class="hd highlight-header">{{ 'base.customer_panel_title'|trans }}</div>
          <div class="bd row no-gutters">
              {% for customer in customersRecommended %}
                  <div class="col-md-2 col-sm-3">
                      <div class="customer">
                          <a href="{{ path('customer_show', { id: customer.id }) }}">
                              {% if customer.logo %}
                                  <img class="img-fluid" src="{{ vich_uploader_asset(customer.logo, 'file') | imagine_filter('customer_logo')}}" alt="{{ customer.title }}">
                              {% else %}
                                  {{ customer.title }}
                              {% endif %}
                          </a>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>

      <div class="pl artists-recommended">
          <div class="hd highlight-header">{{ 'base.artist_panel_title'|trans }}</div>
          <div class="bd row no-gutters">
              {% for artist in artistsRecommended %}
                  <div class="col-md-1 col-sm-3">
                      <div class="artist">
                          <a href="{{ path('artist_show', { id: artist.id }) }}">
                              {%  if artist.figure %}
                                  <img class="img-fluid" src="{{ vich_uploader_asset(artist.figure, 'file') | imagine_filter('artist_figure_sm') }}" alt="{{ artist.nickname }}">
                              {% else %}
                                  {{ artist.nickname }}
                              {% endif %}
                          </a>
                      </div>
                  </div>
              {% endfor %}

          </div>
      </div>

  </main>

{% endblock %}
