{% extends 'admin.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block body %}

    <div class="page">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ 'admin.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'message.management'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'message.edit'|trans }}</a></li>
            </ol>
        </nav>

        <h1 class="page-header">{{ 'message.edit_title'|trans }} </h1>

        {{ include('message/admin/_form.html.twig', {'button_label': 'Update'}) }}
        <hr>
        <a class="btn btn-secondary" href="{{ path('admin_message_index') }}">{{ 'message.backToList'|trans }}</a>

    </div>


{% endblock %}