{% extends 'admin.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>TitlePicture</th>
                <th>Brief</th>
                <th>Weight</th>
                <th>OldId</th>
                <th>IsPublished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.title }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.updatedAt ? message.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.titlePicture }}</td>
                <td>{{ message.weight }}</td>
                <td>{{ message.isPublished ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('admin_message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_message_new') }}">Create new</a>
{% endblock %}