{% extends 'admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="page">


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ 'admin.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'category.management'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ postType |trans }}</a></li>
            </ol>
        </nav>

        <h1 class="mb-3">{{ 'category.index_title'|trans }}</h1>
        <hr>

        <div >
            <div class="tree-root">
                {% include 'category/admin/_render_category.html.twig' with { 'categories' : categories, 'postType': postType }%}
            </div>

            <a class="btn btn-primary" href="{{ path('admin_category_new', {'postType': postType }) }}">{{ 'category.new_top_level' | trans }}</a>
        </div>




    </div>
{% endblock %}