{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="page">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ 'admin.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'user.management'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'user.resetPassword'|trans }}</a></li>
            </ol>
        </nav>

        <h1 class="mb-3">{{ 'user.resetPasswordTitle'|trans }}</h1>
        <hr>
        {{ include('user/admin/_form.html.twig') }}

        <hr>
        <a class="btn btn-secondary" href="{{ path('admin_user_index') }}">{{ 'user.backToList' | trans }}</a>
    </div>
{% endblock %}