{% extends 'admin.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <div class="page">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ 'admin.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'customer.management'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="#">{{ 'customer.new'|trans }}</a></li>
            </ol>
        </nav>

        <h1 class="page-header">{{ 'customer.new_title'|trans }} </h1>

        {{ include('customer/admin/_form.html.twig') }}
        <hr>
        <a class="btn btn-secondary" href="{{ path('admin_customer_index') }}">{{ 'customer.back_to_list'|trans }}</a>
    </div>

{% endblock %}