<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/frontend.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="sticky-top" style="background: #474747;">
        <div class="container">
            <div class="topbar d-flex">
                <img class="" src="{{ asset('assets/freewings/freewings_logo.gif') }}"/>
                <div class="slogan">墙绘壁画的创作与绘画</div>
                {{ knp_menu_render('main') }}
                <div class="locale-switch">
                {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
                {% if app.request.locale == 'en' %}
                    {% set params = params|merge({'_locale': 'zh_CN'}) %}
                    <a  href="{{ path(app.request.attributes.get('_route'), params) }}">中文</a>
                {% else %}
                    {% set params = params|merge({'_locale': 'en'}) %}
                    <a  href="{{ path(app.request.attributes.get('_route'), params) }}">En</a>
                {% endif %}
                </div>

            </div>
        </div>
    </div>




    {% block body %}{% endblock %}

    <div class="container">
        {{ render(controller('App\\Controller\\DefaultController::componentBranches')) }}
    </div>
    <div class="bottom-bar">
        <div class="container">
            <ul class="bottom-menu">
                <li><a href="{{ path('customer_index') }}">客户</a></li>
                <li><a href="">招聘</a></li>
                <li><a href="">彩绘培训</a></li>
                <li><a href="{{ path('artist_index') }}">团队</a></li>
                <li class="last"><a href="">新闻</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p>版权所有：隐形翅膀艺术设计 苏ICP备09026912号 Site by freewings arts & design studio copyright 2015-2019</p>
        </div>
    </div>


        <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/popper/popper.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
