<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}" >
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/frontend.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="sticky-top" style="background: #474747;">
        <div class="container">
            <div class="topbar navbar-expand-lg navbar-dark">
                <div class="caption">
                    <a class="logo-link" href="{{ path('home') }}"><img class="logo" src="{{ asset('assets/images/freewings_logo.gif') }}"/></a>
                    <span class="slogan">{{ 'base.slogan'|trans }}</span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div id="mainMenu" class="main-menu-wrapper collapse navbar-collapse">
                    {{ knp_menu_render('main') }}
                </div>

            </div>
        </div>
    </div>



    {% block body %}{% endblock %}

    <div class="container">
        {{ render(controller('App\\Controller\\DefaultController::componentBranches')) }}
    </div>

    <div class="bottom-bar-wrapper">
        <div class="container">
            <div class="bottom-bar">
                <ul class="bottom-menu">
                    <li><a href="{{ path('customer_index') }}">{{ 'bmenu.customer_index'|trans }}</a></li>
                    <li><a href="{{ path('employment') }}">{{ 'bmenu.employment'|trans }}</a></li>
                    <li><a href="{{ path('static_message_category', {'token':'training'}) }}">{{ 'bmenu.training'|trans }}</a></li>
                    <li><a href="{{ path('artist_index') }}">{{ 'bmenu.team'|trans }}</a></li>
                    <li class="last"><a href="{{ path('message_index') }}">{{ 'bmenu.news'|trans }}</a></li>
                </ul>
                <div class="qr-codes">
                    <div class="row ">
                        <div class="qr-code col">
                            <img class="code" src="{{ asset('assets/images/weixin_xie.jpg') }}"/>
                            <div class="title">{{ 'base.weixin_xie_title'|trans }}</div>
                        </div>

                        <div class="qr-code col">
                            <img class="code" src="{{ asset('assets/images/weixin_public.jpg') }}"/>
                            <div class="title">{{ 'base.weixin_public_title'|trans }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="registration-copyright-wrapper">
        <div class="container">
            <div class="registration-copyright">
                {{ 'base.registration_and_copyright'|trans }}
            </div>
        </div>
    </div>


        <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/popper/umd/popper.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
